// colors
$headerBackground : #20222b;
$offWhite : #a5afd7;
$bodyBackground : #333745;

/**************************/
//sizes
$sizeZero: 1.2rem;
$sizeOne : 1.6rem;
$sizeTwo : 3.2rem;
$sizeThree:4.8rem;


/*
settings contains all settings.
colors, sizes, things like that.
*/